@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.containerFeature{
    padding-top: 10vh;
    background-color: #FFF2CC;
    /* background-color: black; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* margin: 10vh; */
    gap: 5vh;
    font-size: 2.3vw;
}

.bodyFeature{
    /* display: flex; */
    /* width: 50vw; */
    font-size: 1.3vw;
    text-align: center;
    /* align-items: center; */
    /* align-items: center; */
    /* flex-direction: column;
    gap: 1vh; */
}

.text{
    font-family: 'Borel', cursive;
}