.Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em 1em;
    top: 0;
    left: 0;
    /* color: aqua; */
    right: 0;
    /* background-color: #f2f0e4; */
    }
    .nav_items{
        display: flex;
        /* align-items: center; */
        flex-direction: row;
        justify-content: space-evenly;
        gap: 5rem;
    }

    .Header img{
        width: 2rem;
    }
    
.pfp{
    border-radius: 50%;
}
/* @media screen {
    
} */