@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em 1em;
    top: 0;
    left: 0;
    /* color: aqua; */
    right: 0;
    /* background-color: #f2f0e4; */
    }
.nav_items{
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5rem;
}

.logoMain{
    /* top */
    margin-top: 1vw;
    border-radius: 8px;
    scale: 2;
}

.Header img{
    width: 2.3rem;
}

.logout{
    font-size: 1.3vw;
}

.pfp{
    scale: 1.3;
    border-radius: 50%;
}
/* @media screen {
    
} */