@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* padding: 0 em; */
    /* top: -1rem; */
    left: 0;
    /* color: aqua; */
    right: 0;
    /* background-color: #f2f0e4; */
    }

.nav_items{
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    justify-content: space-evenly;
    gap: 7rem;
    scale: 1.1;
}

.logoMain{
    /* top */
    /* margin-top: 1vw; */
    /* border-radius: 8px; */
    /* scale: 2; */
    
    border-radius: 18px;
    height: 10vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 10vh !important;
}
.logoMain:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s ease-in-out;
}

.Header img{
    width: 2.3rem;
}

.logout{
    font-size: 1.3vw;
}

.pfp{
    scale: 1.5;
    border-radius: 50%;
}
/* @media screen {
    
} */