.home{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #FFF2CC;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* gap: 10vh; */
    padding-top: 1vh;
    
    /* gap: 8vh; */
    text-align: center;
}

.lobbyContainer{
    align-self: center;
    border-radius: 20px;
    /* background-color: pink; */
    background-color: rgb(255, 170, 184);

    /* bottom: 10vh; */
    /* border-radius: 20x; */
    /* background: url("https://i.pinimg.com/originals/24/38/2f/24382f2d139b97869cc2f8f6146b27d9.gif"); */
    /* background-size: cover; */
    /* background-clip:border-box; */
    /* background-repeat: no-repeat; */
    /* background-blend-mode:lighten; */
    /* width: auto; */
    /* background-position: 1vh 1vh; */
}

.homeContainer{
    justify-content: center;
    font-size: 3vw;
}

.joinLobby{
    padding: 4vh 6vw;
    /* width: 40vw; */
    display: flex;
    flex-direction: column;
    gap: 2vh;
    /* vertical-align; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    /* border: 1px solid black; */
}

.joinLobby:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s ease-in-out;
}

.homeHeader{
    height: 20vh;
}