.formContainer{
    display: flex;
    flex-direction:column;
}

input{
    border-radius:10px;
}

#email{
    width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}
#email:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

#room{
    width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}
#room:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }



.formSubmit{
    border-radius: 10px !important;
    transition: 0.3s ease-in-out;
    /* background-color: pink !important; */
    color: #31002b !important;
    /* background-color: rgb(255, 130, 151) !important; */
    /* background-color: rgb(225, 57, 85) !important; */
    padding: 1vh 1vw;
    font-size: large;
}

.formSubmit:hover{
    transition: 0.3s ease-in-out;
    /* scale: 1.03; */
    color: rgb(255, 130, 151) !important;
    background-color: black !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}