*{
    margin: 0;
    text-decoration: none;
    padding: 0;
    /* align-items: center; */
}

.Room{
    background-color: #FFF2CC;
    height: 100vh;
    text-align: center;
}

.RoomStatus{
    font-weight: 900;
}

.myPic {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.RoomHeading{
    justify-self: center;
    font-size: 2rem;
}

.RoomPic{
    border-radius: 30px;
}