@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.WelcomeContainer{
    background: url("");
    /* padding: 3em 1.5em; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    height: 100vh;
    background-color: #FFF2CC;
}

.welcomeNav{
    margin: 5vh 0;
    display: flex;
    flex-direction: row;
    gap: 78vw;
    justify-content: center;
}

.app:hover{
    color: #C539B4;
    cursor: text;
}

.welcomeNav img{
    border-radius: 18px;
    height: 10vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 10vh;
}

img:hover{
    /* scale: 1.13; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s ease-in-out;
}

.WelcomeInfo{
    text-align: center;
    font-size: 3vw;
    margin-top: 10vh;
    /* height: 253px; */
    /* overflow: auto; */
}

.hive{
    transition: 0.4s ease-in-out;
    line-height: 1rem;
    font-family: 'Borel', cursive;
}

.hive:hover{
    font-size: 3.7vw;
    transition: 0.4s ease-in-out;
    /* scale: 1.3; */
    line-height: 1rem;
    /* color: #C539B4; */
    color: rgb(255, 130, 151);
    /* text-decoration: underline; */
}

.loginButton{
    margin: 10vh 0;
    text-align: center;
}