*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.WelcomeContainer{
    /* padding: 3em 1.5em; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    height: 100vh;
    background-color: #E5E6DF;
}

.welcomeNav{
    margin: 5vh 0;
    display: flex;
    flex-direction: row;
    gap: 78vw;
    justify-content: center;
}

.welcomeNav img{
    border-radius: 18px;
    height: 20vh;
    width: 20vh;
}

.app{
    
}

.welcomeNav img:hover{
    scale: 1.13;
    transition: 0.3s ease-in-out;
}

.WelcomeInfo{
    text-align: center;
    /* height: 253px; */
    /* overflow: auto; */
}